<!DOCTYPE html>
<html>
<head>
	<title>Veilles</title>
</head>
<body>
	<h1>Veilles</h1>
	<form action="/api/v1/tools" method="post">
		<label>Titre veille :</label>
		<input type="text" name="title" required>

		<label>Description veille :</label>
		<textarea type="text" name="description"></textarea> 

		<label>Lien URL de la veille :</label>
		<input type="url" name="lien" required>

		<label>Auteur de la veille :</label>
		<input type="text" name="auteur" required>

		<label>Tags de la veille :</label>
		<input type="text" name="tags">

		<button type="submit">Ajouter</button>
	</form>
	{% for veille in veilles %}
		<p>{{veille.title}}</p>
	{% endfor %}
</body>
</html>